.main-search {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 30%;
}

.main-search__input {
	position: relative;
	width: 100%;
}

#search-input {
	padding: 10px;
	border-radius: 0.5em;
	border: 1px solid var(--primary-color);
	caret-color: rgb(31, 21, 21);
	width: 100%;
}

.search-icon {
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translate(-50%, -50%);
	cursor: pointer;
	color: black;
}

@media (max-width: 1024px) {
	#search-input {
		padding: 5px;
	}
}

@media (max-width: 450px) {
	#search-input {
		padding-left: 2px;
		font-size: 0.5em;
	}
	.search-icon {
		font-size: 0.5em;
	}
}
