.user-entry {
	display: flex;
	align-items: center;
	gap: 10px;
	color: white;
}

#sign-in,
#sign-up {
	font-size: 0.9em;
	letter-spacing: 1px;
	transition: 0.1s;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 0.2em;
}

#sign-in {
	background-color: #000000;
	color: white;
	padding: 7px 20px;
	border: 1px solid rgba(255, 255, 255, 0.395);
}

#sign-up {
	background-color: #e20813;
	color: white;
	padding: 10px 25px;
}

#sign-in:hover {
	background-color: #181818;
}

@media (max-width: 1100px) {
	#sign-in,
	#sign-up {
		font-size: 0.7em;
		letter-spacing: 1px;
		border-radius: 0.2em;
	}

	#sign-in {
		padding: 4px 10px;
	}

	#sign-up {
		padding: 5px 10px;
	}
}
