.user-entry {
	display: flex;
	align-items: center;
	gap: 10px;
	color: white;
}

.user-entry a {
	font-size: 0.9em;
	letter-spacing: 1px;
	transition: 0.1s;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 0.2em;
}

.user-entry a:first-child {
	background-color: #000000;
	color: white;
	padding: 7px 20px;
	border: 1px solid rgba(255, 255, 255, 0.395);
}

.user-entry a:last-child {
	background-color: #e20813;
	color: white;
	padding: 10px 25px;
}

.user-entry a:first-child:hover {
	background-color: #181818;
}

@media (max-width: 1024px) {
	.user-entry {
		gap: 20px;
		flex-direction: row;
	}

	.user-entry a {
		padding: 0;
	}
}

@media (max-width: 998px) {
	.user-entry {
		flex-direction: column;
		gap: 20px;
		display: none;
	}

	.user-entry a:last-child {
		padding: 0;
		color: #999ea5;
		display: block;
	}
}
