
.search-dropdown__list-item {
	width: 100%;
}

.search-dropdown__list-item a {
	display: flex;
	align-items: center;
	gap: 10px;
}

.search-dropdown__list-item a img {
	width: 80px;
	border-radius: 0.2em;
}

.search-dropdown__list-item span {
	font-size: 1em;
}

.search-dropdown__list-item span:last-child {
	font-size: 0.8em;
	color: var(--primary-color);
}
