.burger-menu {
	display: none;
	z-index: 9999;
}

.burger-menu_inner {
	width: 100%;
	height: 100%;
	background-color: white;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow-y: auto;
}

.open-burger__icon {
	font-size: 1.5em;
	cursor: pointer;
}

.burger-close__icon {
	color: black;
	font-size: 1.5em;
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 5px;
}

@media (max-width: 998px) {
	.burger-menu {
		display: block;
	}
	.burger-menu_inner {
		display: flex;
		flex-direction: column;
		padding: 20px;
	}
	.burger-menu_inner .nav-bar,
	.user-entry {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}
	.burger-menu_inner .logo {
		margin-bottom: 20px;
		color: black;
	}
	.burger-menu_inner .nav-bar .menu-list {
		display: flex;
		flex-direction: column;
	}
	.burger-menu_inner .nav-bar .user-entry {
		gap: 10px;
	}
	.burger-menu_inner .nav-bar .genres-dropdown {
		position: static;
	}
	.burger-menu_inner .nav-bar .genres-dropdown .dropdown {
		position: static;
		max-width: 100px;
		height: 0;
		overflow: auto;
	}
	.burger-menu_inner .nav-bar .genres-dropdown .dropdown::-webkit-scrollbar {
		width: 0;
	}
	.burger-menu_inner .nav-bar .genres-dropdown:hover .dropdown {
		min-height: 200px;
	}
	.burger-menu_inner .nav-bar .genres-list .genres-list__link {
		padding: 0;
		background: none;
		color: black;
		letter-spacing: 0;
		border-radius: 0;
		text-align: end;
	}
}
