.carousel-movies {
	margin-bottom: 50px;
	border-radius: 0.8em;
	padding: 20px;
	background-color: rgba(35, 33, 33, 0.356);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.carousel-movies__title {
	margin-bottom: 20px;
	cursor: pointer;
	transition: 0.1s;
	display: inline-block;
}

.carousel-movies__title:hover {
	color: var(--primary-color);
}

.carousel-movies .slick-list {
	border-radius: 10px;
}

.carousel-movies .slick-track {
	border-radius: 10px;
	display: flex;
	gap: 20px;
}
