@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('./styles/variables.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: #191a1f;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	color: white;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	max-width: 1450px;
	margin: 0 auto;
	padding: 15px;
}

::after,
::before {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}

img {
	display: block;
	object-position: center;
	object-fit: cover;
}

ul,
li {
	list-style: none;
}

button {
	border: none;
	outline: none;
	background: none;
}

input {
	border: none;
	outline: none;
}
